.fixed-top{position:fixed;top:0px;}@media(min-width:768px){.fixed-top{width:750px}}@media(min-width:992px){.fixed-top{width:970px}}@media(min-width:1200px){.fixed-top{width:1140px}}
/*.page-header-fixed{ margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px; padding:10px 15px;border-bottom:1px solid transparent;border-top-right-radius:3px;border-top-left-radius:3px;position:fixed;color:#ffffff;background-color:#e74c3c;border-color:#e74c3c}@media(min-width: 768px){.page-header-fixed{width:750px;}}@media(min-width: 992px){.page-header-fixed{width:970px;}}@media(min-width: 1200px){.page-header-fixed{width:1140px;}}
*/.white{background-color: white;}.panel-primary>.panel-heading{color:#ffffff;background-color:#e74c3c;border-color:#e74c3c}
h2,.h2{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:300;line-height:1.1;color:#ffffff}
 @font-face {   font-family: 'Glyphicons Halflings';   
     src: url('fonts/glyphicons-halflings-regular.eot');   
     src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
     url('fonts/glyphicons-halflings-regular.woff') format('woff'),  
     url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
     url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'); }.glyphicon{top:0px;}
body { padding-top:70px;}
input[type="text"]{border-color: black;}

 #mapdiv {
        
    margin: 0;
    padding: 0;
    width:100%;
    height:675px;
}
#smallmap{
    margin: 0;
    padding: 0;
    width:400px;
    height:400px;
    float:right;

}
p{color:black;
font-size: 20px}

.navbar-inverse{color:white;background-color: black}
h1{color:white;}
h3{color:white;}
input[type="text"]{border-color: black;}
.field{
    position:relative;
    top:-400px;
    width:100%;
       
}
#about{background-color: #D64541;width:100%;}

.content-section {
    padding-top: 250px;
    width:100%;
    height:675px;
}
#download{padding-top: 100px;}
#download h2{color:#D64541;}
.download-section {
    width: 100%;
    padding: 200px 0;
    background-color: #ABB7B7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#contact{padding-top: 60px;}
#contact h2{color:#D64541;}

.col-sm-1{padding-top: 5px;}

.btn-primary{background-color:#D64541;opacity:0.9;}

.navbar-inverse .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-inverse .nav li a:hover,
.navbar-inverse.nav li a:focus,
.navbar-inverse.nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
    
}
.lg-link a { font-size:25px;}
.btn-lg-my{color:#D64541;}
.btn-lg-my:hover,
.btn-lg-my:active,
.btn-lg-my:focus{color:#D64541;}
